* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    min-height: 100vh;
    width: 100%;
     display: flex;
    justify-content: center;
    align-items: center;
    background-color: #508bfc;
}

.container{
    background-color: #fff;
    width: 400px;
    height: 435px;
    border-radius: 20px;
    padding: 40px 20px;
}

header h4 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}

.form-group{
    display: flex;
  flex-direction : column;
}

.form-group input{
    padding: 13px 20px;
    border: 1px solid rgb(156, 152, 152);
    outline: none;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    font-size: 16px;
}

form button {
    width: 100%;
    padding: 13px ;
    outline: none;
    border: none;
    background-color: #0C56D0;
    color: #fff;
    font-size: 16px;
    margin: 10px 0;
}

.singup-link p{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 55px;

}

.singup-link a{
    text-decoration: none;
    color: #000;
}